{
  "邮箱": {
    "账号": "your_email@163.com",
    "授权码": "请在这里填写网易邮箱授权码"
  },
  "路径": {
    "测风塔信息表": "",
    "数据存储目录": "D:\\测风数据文件"
  },
  "解密": {
    "SymphoniePRO路径": "C:\\Program Files (x86)\\Renewable NRG Systems\\SymPRO Desktop\\SymPRODesktop.exe"
  },
  "显示": {
    "缩放比例": 100
  }
}
